body {
    font-family: "Roboto", sans-serif;
    background-color: grey;
}

.container {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
    padding-left: 2em;
    padding-right: 2em;
}

.projects {

}

.project {
    margin-bottom: 1em;
    padding: 1em;
    border: 1px solid #d5d5d5;
    border-radius: 12px;
}